# walt-server - WalT platform server daemon
#
# The WalT platform provides a lightweight distributed testbed for
# sensor networks, distributed protocols, distributed data 
# management.

[Unit]
Description=Switch to VT 8 running WalT server daemon
After=systemd-logind.service
Requires=systemd-logind.service
After=walt-server.service
Requires=walt-server.service

[Service]
Type=oneshot
ExecStart=/bin/chvt 8

[Install]
WantedBy=multi-user.target
